*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: border-box;
    font-family: 'Roboto,sans-serif';
}
.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;

}
.container h1, p{
    text-align: center;
    font-family: 'Sriracha,cursive';
    font-size: 40px;
}
p{
    font-size:17px;
     text-align: center;
    font-family: 'Sriracha,cursive';
}
input, textarea{
    display: block;
    border: 2px solid black;
    border-radius: 6px;
    width:80%;
    padding: 8px;
    margin:9px 0px;
    
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    color:white;
    background-color: #007bff;
    padding:8px 12px;
    font-size: 20px;
    border:2px solid white;
    border-radius: 14px;
    cursor: pointer;
}
.bg{
    width:100%;
    position:absolute;
    z-index: -1;
    opacity:1;
}
.msg{
    color:green;
}